  <nav>
    <h1 class="brand-title"><a href="{{ .Site.BaseURL }}">GoogHell.fr</a></h1>
		<!--<p>{{ i18n "sidebar-description"}}</p>-->
    <br>
    <p class="icons">
    <a href="mailto:lord-blog@lord.re" title="Contact par mail" style="color:#d25555"><img src="{{ .Site.BaseURL }}svg/mail.svg" class="svg2"> Mail</a>
    <a href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="Les RSS c'est le bien ! Par contre pas la peine d'updater plus de deux fois par jours ;-)" style="color:#d2c555"><img src="{{ .Site.BaseURL }}svg/rss.svg" class="svg2"> RSS</a>
    <br>
    <a href="{{ .Site.BaseURL}}apropos/" title="À propos" style="color:orangered"><span style="line-height:2.3rem;font-size:2.3rem;">?</span> À propos</a>
    </p>
    <br>
{{ range .Translations }}    <p lang="{{ .Language }}"><a href="{{ .Permalink }}">{{i18n "dispo"}} : {{ .Title }}{{ if .IsPage }} {{ end }}</a></p>{{ end}}
  </nav>
